* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 0 100px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

.nav {
    min-height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}

.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    font-size: 24px;
    color: #f9faf8;
}

.nav-right {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.nav-right ul {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 32px;
}

.nav-right ul li a {
    color: #e5e7eb;
    text-decoration: none;
}

.logo {
    width: 50px;
    height: auto;
}

.hero {
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    flex-grow: 1;
}

.hero div {
    flex-basis: 100%;
}

.headline {
    font-size: 36px;
    font-weight: 100;
    color: #f9faf8;
    margin-bottom: 18px;
}

.headline-span {
    font-weight: 600;
}

.subheadline {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 18px;
}

.call-to-action {
    background-color: #3882f6;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: bold;
    color: #f9faf8;
    border-radius: 10px;
    border: none;
}

.call-to-action:hover {
    cursor: pointer;
    background-color: #e5e7eb;
    color: #3882f6;
    transition-duration: 0.4s;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gym-rat {
    width: 300px;
    height: auto;
    padding-bottom: 50px;
}

.header,
.footer {
    background-color: #1f2937;
}

.testimonials {
    background-color: #e5e7eb;
}