* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 0 100px;
}

.nav {
    min-height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}

.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    font-size: 24px;
    color: #f9faf8;
}

.nav-right {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.nav-right ul {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 32px;
}

.nav-right ul li a {
    color: #e5e7eb;
    text-decoration: none;
}

.logo {
    width: 50px;
    height: auto;
}

.hero {
    min-height: 300px;
}

.header,
.footer {
    background-color: #1f2937;
}

.testimonials {
    background-color: #e5e7eb;
}